<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RESTcord.js by Chiphyr</title>
</head>
<body>
    <h1>RESTcord.js by Chiphyr</h1>
    <p>Welcome to the homepage of the <b>RESTcord</b> API.<br><a href="https://github.com/Chiphyr/RESTcord.js">GitHub</a><br><a href="https://documenter.getpostman.com/view/8001184/SVSBuXhJ?version=latest">Documentation</a></p>
</body>
</html>