<!-- standard head -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>3d Editor</title>
    <link rel="stylesheet" type="text/html href=" server.css">
    <link rel="shortcut icon" href="images/favicon.ico" />
</head>

